<% if !@product.images.empty? %>
<script type="text/javascript">
$(function() {
  $('#product-images a').fancybox();
});
</script>
<div id="gallery">
  <ul id="product-thumbnails" class="thumbnails inline" data-hook>
    <% is_first = true
    @product.images.each do |i|
	    if is_first
	      is_first = false
	  	  next
      end -%>
    <li><%= link_to_image(i.attachment, @product.name) %></li>
    <% end -%>
  </ul>
  <% if false && @product.has_variants?
    has_checked = false %>
    <ul id="variant-thumbnails" class="thumbnails inline">
      <% (@variants || @product.variants).each do |v|
          checked = !has_checked && (v.available?)
     		  has_checked = true if checked

          v.images.each do |i| %>
              <li class="vtmb-<%= v.id.to_s %> vtmb" id="tmb-<%= i.id.to_s %>"><%= link_to_image(i.attachment, product.name) %></li>
          <% end %>
        <% end %>
      </ul>
  <% end %>
</div>
<% end %>
